*,
*::before,
*::after {
	box-sizing: border-box;
}

[x-cloak] {
	display: none !important;
}

body {
	font-family: monospace;
	color: #f1f5f9;
	background-color: #0f172a;
}

hgroup {
	margin-block: 2rem;
}

hgroup > h2 {
	font-size: 1rem;
	font-weight: 400;
	color: #64748b;
}

.query-error {
	color: #fef2f2;
	font-weight: bold;
	padding: 1rem;
	background-color: #dc2626;
	border: 1px solid #ef4444;
	border-radius: 6px;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.query-error > svg {
	width: 1.5rem;
}

.query-textarea {
	resize: none;
	width: 100%;
	padding: 1rem;
	border-radius: 6px;
	background-color: #1e293b;
	border: 1px solid #334155;
	color: #f1f5f9;
}

.query-textarea:focus {
	outline: 2px solid #475569;
}

.query-textarea::placeholder {
	color: #64748b;
}

.button-container {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.button-container > div {
	display: flex;
	gap: 0.5rem;
}

.query-button,
.import-button,
.export-button {
	padding: 0.75rem 1.25rem;
	border-radius: 6px;
	border: none;
	color: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	line-height: 0;
	transition: opacity 100ms;
}

.query-button:hover,
.import-button:hover,
.export-button:hover {
	opacity: 0.8;
}

.query-button > svg {
	width: 1rem;
}

.query-button {
	background-color: #059669;
	border: 1px solid #10b981;
}

.import-button {
	background-color: #7c3aed;
	border: 1px solid #8b5cf6;
}

.export-button {
	background-color: #c026d3;
	border: 1px solid #d946ef;
}

input[type="file"] {
	display: none;
}

.table-container {
	overflow: auto;
}

table {
	border-collapse: collapse;
	margin-top: 2rem;
	border-radius: 6px;
	overflow: hidden;
}

th {
	background-color: #1e293b;
	padding: 1rem;
}

td {
	padding: 1rem;
	border-top: 2px solid #1e293b;
}
