*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: monospace;
	font-size: 1rem;
}

[x-cloak] {
	display: none !important;
}

body {
	color: #475569;
	background-color: #f8fafc;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e2e8f0' fill-opacity='0.57'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	margin: 1rem;
}

hgroup {
	margin-block: 2rem;
}

hgroup > h1 {
	font-size: 1.5rem;
}

hgroup > h2 {
	font-weight: 400;
	color: #94a3b8;
}

.query-error {
	color: #fef2f2;
	font-weight: bold;
	padding: 1rem;
	background-color: #dc2626;
	border: 1px solid #ef4444;
	border-radius: 6px;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.query-error > svg {
	width: 1.5rem;
}

.query-textarea {
	resize: none;
	width: 100%;
	padding: 1rem;
	border-radius: 6px;
	background-color: #f1f5f9;
	border: 1px solid #cbd5e1;
	color: #475569;
}

.query-textarea:focus {
	outline: none;
	border: 1px solid #6366f1;
	box-shadow: 0 0 0 1pt #6366f1;
}

.query-textarea::placeholder {
	color: #94a3b8;
}

.button-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.button-container > div {
	display: flex;
	gap: 0.5rem;
	width: 100%;
}

@media (min-width: 620px) {
	.button-container > div {
		width: auto;
	}
}

.query-button,
.clear-button,
.import-button,
.export-button {
	width: 100%;
	padding: 0.75em 1.25em;
	border-radius: 6px;
	border: none;
	color: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 1rem;
	transition: opacity 100ms;
}

.query-button:active,
.clear-button:active,
.import-button:active,
.export-button:active {
	opacity: 0.8;
}

@media (min-width: 620px) {
	.query-button:hover,
	.import-button:hover,
	.export-button:hover,
	.clear-button:hover {
		opacity: 0.8;
	}
}

.button-container svg {
	width: 1.15rem;
}

.query-button {
	background-color: #059669;
	border: 1px solid #10b981;
}

.clear-button {
	background-color: #e11d48;
	border: 1px solid #f43f5e;
}

.import-button {
	background-color: #7c3aed;
	border: 1px solid #8b5cf6;
}

.export-button {
	background-color: #c026d3;
	border: 1px solid #d946ef;
}

input[type="file"] {
	display: none;
}

.table-container {
	overflow: auto;
	background-color: #f8fafc;
	border-radius: 6px;
	border: 1px solid #cbd5e1;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

table {
	border-collapse: collapse;
	border-radius: 6px;
	overflow: hidden;
}

th {
	background-color: #e2e8f0;
	padding: 1rem;
	text-align: left;
}

td {
	padding: 1rem;
	border-top: 2px solid #e2e8f0;
}
